.home_container {
  width: 100%;
  height: 100vh;
  background-image: url("../../assets/background/background-home-desktop.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;

  //tablet
  @media screen and (max-width: 1070px) {
    background-image: url("../../assets/background/background-home-tablet.jpg");
    height: auto;
  }

  //mobile
  @media screen and (max-width: 800px) {
    background-image: url("../../assets/background/background-home-mobile.jpg");
  }

  .description-container {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr;
    color: white;
    // margin: 12vh 6vh 0 6vh;
    margin-top: 20vh;

    //tablet
    @media screen and (max-width: 1070px) {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }

    //mobile
    @media screen and (max-width: 800px) {
    }
    .title_description-box {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      margin: 10vh;
      width: 100%;

      //tablet
      @media screen and (max-width: 1070px) {
        align-items: center;
        justify-content: center;
      }

      //mobile
      @media screen and (max-width: 800px) {
      }

      h5 {
        margin: 10px;
        font-size: 2em;
        font-family: $fontBarlow;
        color: #a2a7c5;

        @media screen and (max-width: 800px) {
          font-size: 1.6em;
        }
      }

      h1 {
        margin: 10px;
        font-size: 10em;
        font-family: $fontBellefair;
        font-weight: 400;

        @media screen and (max-width: 800px) {
          font-size: 8em;
          margin-top: 18px;
        }

        @media screen and (max-width: 600px) {
          font-size: 5.5em;
        }
      }

      p {
        font-family: $fontBarlow;
        font-size: 1.5em;
        width: 55%;
        margin: 10px;
        color: #a2a7c5;

        //tablet
        @media screen and (max-width: 1070px) {
          width: 45%;
        }

        //mobile
        @media screen and (max-width: 800px) {
          text-align: center;
          width: 80%;
          margin: 18px;
        }
      }
    }

    .link {
      text-decoration: none;
      font-family: $fontBellefair;
      font-size: 20px;
    }

    .btn-box {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0;

      //tablet
      @media screen and (max-width: 1070px) {
        justify-content: center;
        margin-top: 40px;
        height: 60vh;
      }

      //mobile
      @media screen and (max-width: 800px) {
        margin-top: 10px;
      }

      .content-explore {
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        border-radius: 100%;
        text-decoration: none;
        color: black;
        font-weight: 500;
        font-size: 26px;
        width: 250px;
        height: 250px;
        background-color: white;

        cursor: pointer;
        &:hover::before {
          scale: 2;
        }

        p {
          text-decoration: none;
        }
      }

      .content-explore::before {
        transition: scale 1s ease-in-out;
        content: "";
        width: 250px;
        height: 250px;
        background-color: rgba(255, 255, 255, 0.19);
        border-radius: 100%;
        position: absolute;
      }
    }
  }
}
