.home_container {
  width: 100%;
  height: 100dvh;
  background-image: url("../../assets/background/background-home-desktop.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;

  //tablet
  @media screen and (max-width: 1070px) {
    background-image: url("../../assets/background/background-home-tablet.jpg");
    min-height: 100vh;
  }

  //mobile
  @media screen and (max-width: 800px) {
    background-image: url("../../assets/background/background-home-mobile.jpg");
    height: auto;
  }

  .description-container {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr;
    color: white;
    margin-top: 20vh;

    //tablet
    @media screen and (max-width: 1070px) {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin-top: 24vh;
    }

    @media (orientation: landscape) and (max-width: 1030px) {
      margin-top: 18vh;
    }

    @media screen and (max-width: 800px) {
      margin-top: 14vh;
    }

    //mobile
    @media screen and (max-width: 500px) {
      margin-top: 10vh;
    }
    .title_description-box {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      margin: 10vh 0 0 16vh;
      width: 100%;

      //tablet
      @media screen and (max-width: 1070px) {
        align-items: center;
        justify-content: center;
        margin: 2vh 2vh 0 2vh;
      }

      @media (orientation: landscape) and (max-width: 1030px) {
        margin: 1vh 2vh 4vh 2vh;
      }

      //mobile
      @media screen and (max-width: 500px) {
        margin: 10vh 2vh 0 2vh;
      }

      h5 {
        margin: 10px;
        font-size: 2em;
        font-family: $fontBarlow;
        color: #a2a7c5;

        @media screen and (max-width: 800px) {
          font-size: 1.6em;
        }

        @media screen and (max-width: 500px) {
          font-size: 1.2em;
        }

        @media (orientation: landscape) and (max-width: 700px) {
          font-size: 1em;
        }
      }

      h1 {
        margin: 10px;
        font-size: 10em;
        font-family: $fontBellefair;
        font-weight: 400;

        @media (orientation: landscape) and (max-width: 1030px) {
          font-size: 6em;
        }

        @media screen and (max-width: 800px) {
          font-size: 8em;
          margin-top: 18px;
        }

        @media screen and (max-width: 600px) {
          font-size: 5.5em;
        }

        @media screen and (max-width: 500px) {
          font-size: 5em;
        }

        @media (orientation: landscape) and (max-width: 700px) {
          font-size: 4.4em;
        }
      }

      p {
        font-family: $fontBarlow;
        font-size: 1.5em;
        width: 55%;
        margin: 10px;
        color: #a2a7c5;

        //tablet
        @media screen and (max-width: 1070px) {
          text-align: center;
          width: 45%;
        }

        //mobile
        @media screen and (max-width: 800px) {
          width: 80%;
          margin: 18px;
        }

        @media (orientation: landscape) and (max-width: 700px) {
          font-size: 1.2em;
        }
      }
    }

    .link {
      text-decoration: none;
      font-family: $fontBellefair;
      font-size: 20px;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0;
      padding: 0;

      @media screen and (max-width: 600px) {
        font-size: 16px;
      }
    }

    .btn-box {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0;
      overflow: hidden;

      //tablet
      @media screen and (max-width: 1070px) {
        justify-content: center;
        margin-top: 0;
        height: auto;
      }

      //mobile
      @media screen and (max-width: 800px) {
        margin-top: 10px;
        height: 38vh;
      }

      @media screen and (max-width: 600px) {
        height: 30vh;
        margin-bottom: 11vh;
      }

      .content-explore {
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        border-radius: 100%;
        text-decoration: none;
        color: black;
        font-weight: 500;
        font-size: 26px;
        width: 250px;
        height: 250px;
        background-color: white;
        margin: 10vh 0;

        //tablet
        @media (orientation: landscape) and (max-width: 1030px) {
          width: 180px;
          height: 180px;
          margin: 0;
        }

        //mobile
        @media screen and (max-width: 800px) {
          width: 180px;
          height: 180px;
          margin: 0;
        }

        @media screen and (max-width: 500px) {
          width: 140px;
          height: 140px;
          font-size: 20px;
        }

        @media (orientation: landscape) and (max-width: 700px) {
          width: 120px;
          height: 120px;
          font-size: 18px;
        }

        cursor: pointer;
        &:hover::before {
          scale: 2;
        }

        p {
          text-decoration: none;
        }
      }

      .content-explore::before {
        transition: scale 1s ease-in-out;
        content: "";
        width: 250px;
        height: 250px;
        background-color: rgba(255, 255, 255, 0.19);
        border-radius: 100%;
        position: absolute;

        //tablet
        @media (orientation: landscape) and (max-width: 1030px) {
          width: 180px;
          height: 180px;
          margin: 0;
        }

        //mobile
        @media screen and (max-width: 800px) {
          width: 180px;
          height: 180px;
        }

        @media screen and (max-width: 500px) {
          display: none;
          width: 140px;
          height: 140px;
        }

        @media (orientation: landscape) and (max-width: 700px) {
          width: 120px;
          height: 120px;
        }
      }
    }
  }
}
