.technology_container {
  width: 100%;
  height: 100vh;
  background-image: url("../../assets/background/background-technology-desktop.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;

  //tablet
@media screen and (max-width: 1070px) {
  background-image: url('../../assets/background/background-technology-tablet.jpg');
  }
  
  //mobile
  @media screen and (max-width: 800px) {
    background-image: url('../../assets/background/background-technology-mobile.jpg');
  }
}
