.technology_container {
  width: 100%;
  height: 100vh;
  background-image: url("../../assets/background/background-technology-desktop.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;

  //tablet
  @media screen and (max-width: 1070px) {
    background-image: url("../../assets/background/background-technology-tablet.jpg");
    height: auto;
  }

  //mobile
  @media screen and (max-width: 800px) {
    background-image: url("../../assets/background/background-technology-mobile.jpg");
  }

  .technology-box {
    display: flex;
    flex-direction: column;
    color: white;
    margin-top: 18vh;
    justify-content: center;

    //tablet
    @media screen and (max-width: 1070px) {
    }
    //mobile
    @media screen and (max-width: 800px) {
      align-items: center;
      width: 100%;
    }

    .title-page {
      font-family: $fontBarlow;
      letter-spacing: 0.2em;
      margin: 4vh 18vh;

      //tablet
      @media screen and (max-width: 1070px) {
        margin: 4vh 4vh;
      }

      //mobile
      @media screen and (max-width: 800px) {
        font-size: 24px;
        margin: 4vh 4vh;
      }

      span {
        color: #6f7074;
        margin-right: 6px;
      }
    }

    .information-launch-box {
      display: grid;
      width: 100%;
      grid-template-columns: 1.5fr 1fr;
      justify-content: center;
      align-items: center;
      justify-items: end;

      //tablet
      @media screen and (max-width: 1070px) {
        display: flex;
        flex-direction: column-reverse;
        justify-items: center;
        margin: 20px 0;
      }

      //mobile
      @media screen and (max-width: 800px) {
        margin: 10px 0;
      }

      .information-left {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        padding: 3vh;

        //tablet
        @media screen and (max-width: 1070px) {
          display: flex;
          flex-direction: column;
          padding: 4vh;
          margin-bottom: 4vh;
          width: 80%;
        }

        //mobile
        @media screen and (max-width: 800px) {
          width: 100%;
        }

        .lanch-selector-box {
          display: flex;
          flex-direction: column;
          margin: 0 10vh;

          //tablet
          @media screen and (max-width: 1070px) {
            flex-direction: row;
            align-items: center;
            justify-content: center;
            width: 100%;
          }

          //mobile
          @media screen and (max-width: 800px) {
          }

          button {
            display: flex;
            background-color: transparent;
            color: white;
            border: 1px solid #454750;
            padding: 20px;
            height: 80px;
            width: 80px;
            border-radius: 50%;
            text-align: center;
            align-items: center;
            justify-content: center;
            margin-bottom: 20px;
            font-family: $fontBellefair;
            font-size: 2em;
            cursor: pointer;

            &:hover {
              background-color: white;
              color: black;
            }

            //tablet
            @media screen and (max-width: 1070px) {
              height: 50px;
              width: 50px;
              margin: 20px;
            }

            //mobile
            @media screen and (max-width: 800px) {
              height: 40px;
              width: 40px;
              font-size: 1em;
            }
          }

          .active {
            background-color: white;
            color: black;
          }
        }

        .bio-lanch {
          display: flex;
          flex-direction: column;
          width: 100%;
          padding: 20px;
          //tablet
          @media screen and (max-width: 1070px) {
            padding: 10px;
            align-items: center;
            justify-content: center;
            width: 100%;
            text-align: center;
          }

          //mobile
          @media screen and (max-width: 800px) {
          }

          p {
            font-family: $fontBarlow;
            font-size: 1.5em;
            width: 100%;
            color: #a2a7c5;
            margin-bottom: 6px;

            //tablet
            @media screen and (max-width: 1070px) {
              margin-bottom: 18px;
            }

            //mobile
            @media screen and (max-width: 800px) {
              font-size: 1.3em;
            }
          }

          h1 {
            font-family: $fontBellefair;
            font-size: 3.5em;
            font-weight: 400;
            margin-bottom: 20px;
            letter-spacing: 0.3px;

            //tablet
            @media screen and (max-width: 1070px) {
              margin-bottom: 24px;
            }

            //mobile
            @media screen and (max-width: 800px) {
              font-size: 2em;
            }
          }

          .description {
            font-size: 1.5em;
            line-height: 1.3em;

            //mobile
            @media screen and (max-width: 800px) {
              font-size: 1.2em;
            }
          }
        }
      }

      .img-box {
        display: flex;
        width: 100%;
        @media screen and (max-width: 1070px) {
          align-items: center;
          justify-content: center;
        }

        .img-portrait {
          @media screen and (max-width: 1070px) {
            display: none;
          }
        }

        .img-landscape {
          display: none;

          @media screen and (max-width: 1070px) {
            display: flex;
            width: 100%;
          }

          @media screen and (max-width: 800px) {
            display: flex;
          }
        }
      }
    }
  }
}
