.navbar {
  display: flex;
  width: 100%;
  height: 100%;

  nav {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;

    @media screen and (max-width: 800px) {
      align-items: start;
    }

    ul {
      margin: 6px;
      display: flex;
      width: 80%;
      height: 100%;
      align-items: center;
      justify-content: space-between;

      //tablet
      @media screen and (max-width: 1070px) {
        width: 90%;
      }

      //mobile
      @media screen and (max-width: 800px) {
        flex-direction: column;
        align-items: start;
        width: 100%;
        height: auto;
        margin-top: 4vh;
      }

      .closing-box {
        display: none;

        //mobile
        @media screen and (max-width: 800px) {
          display: flex;
          align-items: flex-start;
          justify-content: flex-end;
          width: 100%;
          margin-bottom: 8vh;
        }

        img {
          cursor: pointer;
        }
      }

      li {
        display: flex;
        text-decoration: none;
        color: white;
        font-family: $fontBarlow;
        font-size: 18px;
        letter-spacing: 0.2em;
        width: 100%;
        align-items: center;
        justify-content: center;
        height: 10vh;

        &:hover {
          border-bottom: 2px solid white;
        }

        //tablet
        @media screen and (max-width: 1070px) {
          height: 16vh;
          font-size: 16px;
        }

        @media screen and (max-width: 800px) {
          height: 5vh;
          margin: 10px;
          font-size: 20px;
          align-items: start;
          justify-content: start;
          width: 180px;
        }

        @media screen and (max-width: 600px) {
          font-size: 16px;
          width: 130px;
        }

        span {
          font-weight: 600;
          margin-right: 6px;
        }
      }

      a {
        text-decoration: none;
      }
      .active {
        border-bottom: 2px solid white;
      }
    }
  }
}
