.destination_container {
  width: 100%;
  height: 100vh;
  background-image: url("../../assets/background/background-destination-desktop.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  color: white;

  //tablet
  @media screen and (max-width: 1070px) {
    background-image: url("../../assets/background/background-destination-tablet.jpg");
    height: auto;
  }

  //mobile
  @media screen and (max-width: 800px) {
    background-image: url("../../assets/background/background-destination-mobile.jpg");
  }

  .box {
    display: flex;
    flex-direction: column;
    margin-top: 14vh;

    //tablet
    @media screen and (max-width: 1070px) {
      align-items: center;
      justify-content: center;
      margin-top: 24vh;
    }

    //mobile
    @media screen and (max-width: 800px) {
      margin-top: 18vh;
    }

    .title-page {
      font-family: $fontBarlow;
      margin-left: 14vh;
      letter-spacing: 0.2em;

      @media screen and (max-width: 1070px) {
        margin-bottom: 4vh;
        margin-left: 0;
      }

      //mobile
      @media screen and (max-width: 800px) {
        font-size: 24px;
      }

      @media screen and (max-width: 600px) {
        font-size: 20px;
      }

      span {
        color: #6f7074;
        margin-right: 6px;
      }
    }

    .destination {
      display: grid;
      grid-template-columns: 1fr 1fr;
      width: 100%;
      height: auto;
      margin: 12vh 0 0 0;

      @media screen and (max-width: 1070px) {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 0;
      }

      //mobile
      @media screen and (max-width: 800px) {
      }

      .img-box {
        display: flex;
        align-items: center;
        justify-content: center;

        @media screen and (max-width: 1070px) {
          width: 100%;
          margin-bottom: 6vh;

          img {
            width: 40%;
          }
        }

        //mobile
        @media screen and (max-width: 800px) {
        }
      }

      .information-box {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;

        .destination-choice {
          display: flex;
          width: 100%;
          height: 5vh;
          margin-bottom: 40px;

          @media screen and (max-width: 1070px) {
            align-items: center;
            justify-content: center;
            text-align: center;
            margin-bottom: 20px;
          }

          //mobile
          @media screen and (max-width: 800px) {
            width: 80%;
          }

          .destination-button {
            background-color: transparent;
            border: none;
            color: #a2a7c5;
            margin: 14px 2em 0 0;
            padding: 0 0 2em 0;
            font-size: 18px;
            font-family: $fontBarlow;
            letter-spacing: 0.2em;
            font-weight: 600;
            cursor: pointer;

            &:hover {
              border-bottom: 3px solid #a2a7c5;
            }

            @media screen and (max-width: 1070px) {
              margin: 0 1em;
              padding: 0 0 0.6em 0;
            }

            //mobile
            @media screen and (max-width: 800px) {
              margin: 0 10px;
            }
          }
          .active {
            color: white;
            border-bottom: 3px solid white;

            &:hover {
              border-bottom: 3px solid white;
            }
          }
        }

        .info-planete {
          display: flex;
          flex-direction: column;
          justify-content: flex-start;
          align-items: flex-start;
          width: 100%;
          letter-spacing: 0.1em;
          margin-bottom: 40px;

          @media screen and (max-width: 1070px) {
            align-items: center;
            justify-content: center;
            text-align: center;
          }

          //mobile
          @media screen and (max-width: 800px) {
          }

          h1 {
            font-family: $fontBellefair;
            font-size: 5em;
            font-weight: 400;
            margin-bottom: 20px;

            //mobile
            @media screen and (max-width: 800px) {
              font-size: 3em;
            }
          }

          p {
            font-family: $fontBarlow;
            font-size: 1.5em;
            width: 50%;
            line-height: 1.3em;
            color: #a2a7c5;

            //mobile
            @media screen and (max-width: 800px) {
              width: 80%;
              font-size: 18px;
            }
          }
        }

        .line-box {
          display: flex;
          align-items: flex-start;
          justify-content: flex-start;
          width: 100%;
          margin: 20px 0;

          @media screen and (max-width: 1070px) {
            align-items: center;
            justify-content: center;
          }

          //mobile
          @media screen and (max-width: 800px) {
          }
          .line {
            height: 1px;
            background-color: #454750;
            width: 50%;
          }
        }

        .distance-time-box {
          display: flex;
          width: 100%;

          @media screen and (max-width: 1070px) {
            align-items: center;
            justify-content: center;
            margin-bottom: 1vh;
          }

          //mobile
          @media screen and (max-width: 800px) {
          }

          div {
            display: flex;
            width: 36%;
            flex-direction: column;
            margin: 10px;
            letter-spacing: 0.2em;

            @media screen and (max-width: 1070px) {
              width: 100%;
              align-items: center;
              justify-content: center;
            }

            //mobile
            @media screen and (max-width: 800px) {
            }

            h5 {
              font-family: $fontBarlow;
              font-weight: 400;
              color: #a2a7c5;
              font-size: 16px;
              margin-bottom: 10px;

              //mobile
              @media screen and (max-width: 800px) {
              }
            }

            h4 {
              font-family: $fontBellefair;
              font-weight: 200;
              font-size: 30px;

              @media screen and (max-width: 800px) {
                font-size: 18px;
              }
            }
          }
        }
      }
    }
  }
}
